.bg-dark {
    background-color: #1F2937;
}

.bg-gray {
    background-color: #E5E7EB;
}

.bg-light {
    background-color: white;
}

.hero-text-main {
    font-size: 48px;
    font-weight: extra-bold;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo-text {
    font-size: 24px;
}

.header-logo-text, 
.hero-text-main {
    color: #F9FAF8;
}

.btn {
    background-color: #3882F6;
}

.info-header-text {
    font-size: 36px;
    font-weight: extra-bold;
}

.quote-text {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
}

.info-header-text, .quote-text {
    color: #1F2937;
}